* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../images/red.png) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.techviz {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -6px;
  text-transform: uppercase;
  font-size: 4.4rem;
}

.links {
  display: flex;
  gap: 18px;
  color: #f1722e;
  cursor: pointer;
  font-family: Neue Montreal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.4px;
  top: 4%;
  right: 4%;
}

a.wave-link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  background: transparent;
  border: 0;
  overflow: hidden;
  padding: 7px 0;
}
a.wave-link:before {
  content: "";
  background: #f1722e;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #f1722e;
}
.link__graphic--slide {
  top: -3px;
  stroke-width: 3px;
  transition: transform 0.8s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
a.wave-link:hover .link__graphic--slide {
  transform: translate3d(-66.6%, 10%, 0);
}

.btm-text {
  font-size: 2.2rem;
  font-family: "Neue Montreal";
  letter-spacing: -1px;
  font-weight: 500;
  margin-top: -20px;
  margin-left: 10px;
}

.btm-text span {
  font-family: garamond;
  font-style: italic;
  padding: 0em 4px;
}

.bottomText {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 2%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff8543;
  cursor: pointer;
}

.bottomText p {
  font-family: Neue Montreal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -1px;
}
.bottomText ion-icon {
  margin-top: 4px;
  font-size: 1.4rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.bottomText:hover ion-icon {
  opacity: 1;
  transform: translateY(-5px);
}
